  <app-not-found
  [visible]="!products.id"
  notFoundMessage="Product Not Found"
  resetLinkText="Back To Home">
</app-not-found>
<div *ngIf="products.id" class="container"></div>
  <img [src]="products.imageUrl" [alt]="products.name"/>
  <div class="details">
    <div class="header">
      <span class="name">
        {{products.name}}
      </span>

      <div class="tags">
        <a *ngFor="let tag of products.tags" routerLink="/tag/{{tag}}">
          {{tag}}
        </a>
      </div>
      <div class="color">
        <span>
          {{products.color | currency}}
        </span>
      </div>
      <div class="description">
        <span>
          {{products.description }}
        </span>
      </div>


    <div class="fa fa-shekel teal-color" style="font-weight: bold; font-size: 25px;">
      <span>
        {{products.price}}
      </span>
    </div>
    <div class="button">
      <button (click)="addToCart()">Buy Now! Add To Cart</button>
    </div>


</div>
