<table>
  <tr>
    <td colspan="5">
      <h3>Order Items:</h3>
    </td>
  </tr>
  <tr *ngFor="let item of order.items">
    <td>
      <a routerLink="/products/{{item.products.id}}">
        <img [src]="item.products.imageUrl"/>
      </a>
    </td>
    <td>
      {{item.products.name}}
    </td>
    <td class="fa fa-shekel teal-color">
      {{item.products.price}}
    </td>
    <td>
      {{item.quantity}}
    </td>
    <td class="fa fa-shekel teal-color">
      {{item.price}}
    </td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>
      <strong>
        Total :
      </strong>
    </td>
    <td class="fa fa-shekel teal-color" >
      <strong>
        {{order.totalPrice}}
      </strong>
    </td>
  </tr>
</table>
