
<header>
  <div class="container">

  <img routerLink="/" src="assets/4m-market-logo.png" alt="logo">


    <nav>
      <ul>
        <li *ngIf="!isAuthentication">
          <a routerLink="/login">Login</a>
        </li>

        <li *ngIf="isAuthentication" class="menu-container">
          <a routerLink="/dashboard">{{user.name}}</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>

        <li>
          <a routerLink="/cart-page">
            Cart <span *ngIf="cartAmount">{{cartAmount}}></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>




