<app-search></app-search>
<app-tags></app-tags>
<app-not-found
[visible]="!products || !products.length"
resetLinkText="Reset Search">
</app-not-found>
<ul>
  <li *ngFor="let product of products">
    <a routerLink="/products/{{product.id}}">
      <img [src]="product.imageUrl" [alt]="product.name"/>
      <div class="content">
        <div class="name">
          {{product.name}}
        </div>

      </div>
      <div class="stars">
       <span>⭐: {{product.starts}}</span>
      </div>
      <div class="color">
        <span>color: {{product.color}}</span>
       </div>
       <div class="price">
        <span>🪙: {{product.price}}</span>
       </div>

    </a>
  </li>
</ul>
