<app-title title="Cart Page" margin="1.6rem 0 0 2.5rem" style="text-align: center;"></app-title>
<app-not-found
[visible]="!cart || !cart.items.length"
notFoundMessage="Cart Page Is blank!"
resetLinkText="Go To Home"
></app-not-found>

<div class="container">
  <ul>
    <li *ngFor="let cartItem of cart.items">
      <div>
        <img [src]="cartItem.products.imageUrl" [alt]="cartItem.products.name">
      </div>
      <div>
        <a routerLink="/products/{{cartItem.products.id}}">
          {{cartItem.products.name}}
        </a>
      </div>
      <div>
        <select #quantitySelect
        [value]="cartItem.quantity"
        (change)="changeCount(cartItem, quantitySelect.value)">
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
      </div>
      <div class="fa fa-shekel teal-color" style="font-size: 20px;">
        {{cartItem.price}}
      </div>

      <div>
        <button class="remove-button" (click)="removeFromCart(cartItem)">
          Remove
        </button>
      </div>
    </li>
  </ul>
  <div class="checkout">

    <div >
      <div class="details">Details</div>
      <div class="products-count">{{cart.totalCount}}</div>
      <div class="fa fa-shekel teal-color" style="font-weight: bold; font-size: 27px; position: relative; left: 20px; width: 180px;">{{cart.totalPrice}}</div>
    </div>

    <a routerLink="/checkout">Checkout</a>

  </div>
  </div>

